{:master-key "settings.security", :master "s3cr3t-m4ster!", :master-blob "{yjx2CnivaYMH4JVUERthZFm1RJ2ryadmuXmqHkJqGM0=}", :not-encrypted "plain-password", :escaped-braces "\\{not-a-blob\\}", :cases [{:plain "hunter2", :blob "{RngqdtSQVlcH5YjhzC/OcHjFuZANIdBlTT6okFEpzFs=}", :dispatcher "hunter2", :in-text "hunter2"} {:plain "p@ss{word}", :blob "{LDumb9Mh8uAH2pmACDeTSTdYHWfnYu6dTj0JuhJxY8A=}", :dispatcher "p@ss{word}", :in-text "p@ss{word}"} {:plain "with\\{escaped", :blob "{0t4s7NCUh08HKTNx/1eDQXpG3gWWGeFLJsaVdoX29d4=}", :dispatcher "with\\{escaped", :in-text "with\\{escaped"} {:plain "ünïcödé ✓", :blob "{sM18bghn4ykHfentpn/ndUsklWlluXwrzMtvpSM4vj0=}", :dispatcher "ünïcödé ✓", :in-text "ünïcödé ✓"} {:plain "", :blob "{}", :dispatcher "{}", :in-text "before {} after"} {:plain "x", :blob "{G2be3OgVe6QHdgzy+PsA9lmk5hTaDFdL0XtVL4AuQEY=}", :dispatcher "x", :in-text "x"}]}
