{:aliases
 {:build
  {:paths ["."]
   :deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}
  :svm
  {:extra-deps {org.graalvm.nativeimage/svm {:mvn/version "25.0.2"}}}}}
