[submodule "sci"]
	path = sci
	url = https://github.com/borkdude/sci
	branch = master
[submodule "babashka.curl"]
	path = babashka.curl
	url = https://github.com/babashka/babashka.curl
[submodule "babashka.nrepl"]
	path = babashka.nrepl
	url = https://github.com/babashka/babashka.nrepl
[submodule "depstar"]
	path = depstar
	url = https://github.com/babashka/depstar
[submodule "process"]
	path = process
	url = https://github.com/babashka/process
[submodule "pods"]
	path = pods
	url = https://github.com/babashka/pods
[submodule "deps.clj"]
	path = deps.clj
	url = https://github.com/borkdude/deps.clj
[submodule "fs"]
	path = fs
	url = https://github.com/babashka/fs
[submodule "babashka.core"]
	path = babashka.core
	url = https://github.com/babashka/babashka.core.git
