/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/bb
.clj-kondo/.cache
!java/src/babashka/impl/LockFix.class
!test-resources/babashka/src_for_classpath_test/foo.jar
!test-resources/pom.xml
.cpcache
*reflect-config.json
/tmp
/reports
*.dylib
*.log
org_babashka*.h
/babashka-0.1.4-SNAPSHOT-windows-amd64.zip
/bb.exe
/bb.exp
/bb.lib
/bb.pdb
/bb.stripped.pdb
/.calva
!test-resources/divide_by_zero.jar
.envrc
.lsp
bb.build_artifacts.txt
target
.nrepl-port
.DS_Store
.portal
default.iprof
