[submodule "sci"]
	path = sci
	url = https://github.com/borkdude/sci
	branch = master
[submodule "babashka.curl"]
	path = babashka.curl
	url = https://github.com/borkdude/babashka.curl
[submodule "babashka.pods"]
	path = babashka.pods
	url = https://github.com/babashka/babashka.pods
[submodule "babashka.nrepl"]
	path = babashka.nrepl
	url = https://github.com/babashka/babashka.nrepl
