{:paths ["src"]
 :tasks
 {test {:doc "Run the tests. Needs a bb with babashka.ffi."
        :extra-paths ["test"]
        :extra-deps {io.github.cognitect-labs/test-runner
                     {:git/tag "v0.5.1"
                      :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
        :task (exec 'cognitect.test-runner.api/test)
        :exec-args {:dirs ["test"]}
        :org.babashka/cli {:coerce {:nses [:symbol] :vars [:symbol]}}}}}
