{:paths ["src" "feature-xml" "feature-core-async"
         "feature-yaml" "feature-csv" "feature-transit"
         "feature-java-time" "feature-java-nio"
         "feature-httpkit-client" "feature-httpkit-server"
         "feature-lanterna"
         "feature-core-match"
         "feature-hiccup"
         "feature-test-check"
         "feature-spec-alpha"
         "feature-rewrite-clj"
         "pods/src"
         "babashka.nrepl/src"
         "depstar/src" "process/src"
         "deps.clj/src" "deps.clj/resources"
         "resources" "sci/resources"],
 :deps {org.clojure/clojure {:mvn/version "1.10.3"},
        borkdude/sci {:local/root "sci"}
        babashka/babasha.curl {:local/root "babashka.curl"}
        babashka/fs {:local/root "fs"}
        borkdude/graal.locking {:mvn/version "0.0.2"},
        org.clojure/core.async {:mvn/version "1.3.610"},
        org.clojure/tools.cli {:mvn/version "1.0.206"},
        org.clojure/data.csv {:mvn/version "1.0.0"},
        cheshire/cheshire {:mvn/version "5.10.0"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        clj-commons/clj-yaml {:mvn/version "0.7.106"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        nrepl/bencode {:mvn/version "1.1.0"}
        seancorfield/next.jdbc {:mvn/version "1.1.610"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        org.hsqldb/hsqldb {:mvn/version "2.5.1"}
        datascript/datascript {:mvn/version "1.0.1"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        babashka/clojure-lanterna {:mvn/version "0.9.8-SNAPSHOT"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.605-alpha"}}
 :aliases {:babashka/dev
           {:main-opts ["-m" "babashka.main"]}
           :profile
           {:extra-deps
            {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}}
            :extra-paths ["test"]
            :jvm-opts ["-Djdk.attach.allowAttachSelf"]
            :main-opts ["-m" "babashka.profile"]}
           :lib-tests
           {:extra-paths ["process/src" "process/test"]
            :extra-deps {babashka/clj-http-lite
                         {:git/url "https://github.com/babashka/clj-http-lite"
                          :sha "f44ebe45446f0f44f2b73761d102af3da6d0a13e"}
                         borkdude/spartan.spec {:git/url "https://github.com/borkdude/spartan.spec"
                                       :sha "16f7eec4b6589c77c96c9fcf989f78fffcee7c4c"}
                         lambdaisland/regal {:git/url "https://github.com/lambdaisland/regal"
                                             :sha "f902d2c43121f9e1c48603d6eb99f5900eb6a9f6"}
                         weavejester/medley {:git/url "https://github.com/weavejester/medley"
                                             :sha "a4e5fb5383f5c0d83cb2d005181a35b76d8a136d"}
                         cprop/cprop {:mvn/version "0.1.16"}
                         comb/comb {:mvn/version "0.1.1"}
                         mvxcvi/arrangement {:mvn/version "1.2.0"}
                         org.clojure/data.zip {:mvn/version "1.0.0"}
                         clojure-csv/clojure-csv {:mvn/version "2.0.2"}
                         org.clojure/math.combinatorics {:mvn/version "0.1.6"}
                         doric/doric {:mvn/version "0.9.0"}
                         henryw374/cljc.java-time
                         {:git/url "https://github.com/henryw374/cljc.java-time.git"
                          :sha "e3d184b78e933322b3fcaa6ca66cbb8f42a6b35c"}
                         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"}
                         aero/aero {:mvn/version "1.1.6"}
                         org.clojure/data.generators {:mvn/version "1.0.0"}
                         honeysql/honeysql {:mvn/version "1.0.444"}
                         minimallist/minimallist {:mvn/version "0.0.6"}
                         circleci/bond {:mvn/version "0.4.0"}
                         version-clj/version-clj {:mvn/version "2.0.1"}
                         gaka/gaka {:mvn/version "0.3.0"}
                         failjure/failjure {:mvn/version "2.1.1"}}
            :classpath-overrides {org.clojure/clojure nil
                                  org.clojure/spec.alpha nil
                                  org.clojure/core.specs.alpha nil}}
           :clj-nvd
           {:extra-deps {clj-nvd/clj-nvd {:git/url "https://github.com/miikka/clj-nvd.git"
                                          :sha "f2ec98699e057a379baf170cb49cf7ad76874a70"}}
            :main-opts ["-m" "clj-nvd.core"]}}}
