{:config-paths ["babashka/sci"]
 :lint-as {me.raynes.conch/let-programs clojure.core/let
           babashka.impl.File/gen-wrapper-fn clojure.core/def
           babashka.impl.Pattern/gen-wrapper-fn clojure.core/def
           babashka.impl.File/gen-wrapper-fn-2 clojure.core/def
           babashka.impl.Pattern/gen-wrapper-fn-2 clojure.core/def
           babashka.impl.Pattern/gen-constants clojure.core/declare}
 :linters {:unsorted-required-namespaces {:level :warning}}}
