{:config-paths ["babashka/sci"]
 :lint-as {babashka.ffi/defcfn clj-kondo.lint-as/def-catch-all
           babashka.sqlite/with-db clojure.core/with-open
           me.raynes.conch/let-programs clojure.core/let
           babashka.impl.File/gen-wrapper-fn clojure.core/def
           babashka.impl.Pattern/gen-wrapper-fn clojure.core/def
           babashka.impl.File/gen-wrapper-fn-2 clojure.core/def
           babashka.impl.Pattern/gen-wrapper-fn-2 clojure.core/def
           babashka.impl.Pattern/gen-constants clojure.core/declare}
 :linters {:unsorted-required-namespaces {:level :warning}}
 :hooks {:analyze-call {clojure.core/requiring-resolve hooks.mine/req-resolve}}}
