{:deps {org.babashka/sci.impl.types {:mvn/version "0.0.3"}}
 :aliases
 {:neil {:project {:name org.babashka/babashka.impl.java
                   :version "0.1.21"}}
  ;; the reify classes are generated with insn, which needs ASM on a JVM
  :build
  {:paths ["." "build" "src"]
   :deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
          org.babashka/sci.impl.types {:mvn/version "0.0.3"}
          org.jline/jline-reader {:mvn/version "3.30.9"}
          insn/insn {:git/sha "f85da286d429b507480f8527b12ce3e1e0e17296"
                     :git/url "https://github.com/phronmophobic/insn"}}
   :ns-default build}}}
