{:classes [java.lang.ArithmeticException
           java.lang.AssertionError
           java.lang.Boolean
           java.io.BufferedWriter
           java.io.BufferedReader
           java.lang.Class
           java.lang.Double
           java.lang.Exception
           clojure.lang.ExceptionInfo
           java.lang.Integer
           java.io.File
           clojure.lang.LineNumberingPushbackReader
           java.util.regex.Pattern
           java.lang.String
           java.io.StringReader
           java.io.StringWriter
           java.lang.System
           java.lang.Thread
           sun.nio.fs.UnixPath
           java.nio.file.attribute.FileAttribute
           java.nio.file.attribute.PosixFilePermission
           java.nio.file.attribute.PosixFilePermissions
           java.nio.file.CopyOption
           java.nio.file.FileAlreadyExistsException
           java.nio.file.Files
           java.nio.file.NoSuchFileException
           java.nio.file.StandardCopyOption]}
