{greet {:doc "Greet politely"
        :depends [-hello]
        :task (println "goodbye")}
 -hello {:task (println "hello")}
 chain {:depends [-mid] :task (println "chain")}
 -mid {:depends [-hello] :task (println "mid")}
 also {:depends [-hello] :task (println "also")}
 duo {:depends [greet] :task (println "duo")}
 plain (println "plain hello")
 wrapper {:depends [plain] :task (println "wrapper")}
 wrap {:depends [-clihelper]
       :exec-fn babashka.tasks-cli/dep-test}
 -clihelper {:exec-fn babashka.tasks-cli/dep-build}
 cmdtree {:doc "An imported command tree"
          :cmd {"lock" {:fn babashka.tasks-cli/lock}}}
 withdeps {:extra-deps {medley/medley {:mvn/version "1.3.0"}}
           :requires ([medley.core :as m])
           :task (println (m/index-by :id [{:id 1}]))}
 cli-task {:doc "An imported CLI task"
           :exec-fn babashka.tasks-cli/dep-build}
 nodoc {:exec-fn babashka.tasks-cli/run-dev}
 noisy {:doc "Noisy at load" :exec-fn babashka.tasks-cli-noisy/go}}
