{:paths ["script"]
 :deps {borkdude/gh-release-artifact
        #_{:local/root "../gh-release-artifact"}
        {:git/url "https://github.com/borkdude/gh-release-artifact"
         :git/sha "ce060c12a25b552b864dc90f8fb344a2eb91ea9d"}}
 :tasks {release-artifact babashka.release-artifact/release
         test             {:requires ([babashka.release-artifact])
                           :task (apply shell (babashka.release-artifact/bb-tests-cmd))}}}
