{"mount/data/identities"
 {:data {:batman         "Bruce Wayne"
         :captain-marvel "Carol Danvers"}}
 "mount/metadata/identities"
  {:created_time    "2018-03-22T02:24:06.945319214Z"
   :current_version 1
   :max_versions    0
   :oldest_version  0
   :updated_time    "2018-03-22T02:36:43.986212308Z"
   :versions        {:1 {:created_time  "2018-03-22T02:24:06.945319214Z"
                         :deletion_time ""
                         :destroyed     false}}}}
