{:paths ["test-resources/bb-edn"]
 :tasks {:count-files {:task/type :shell
                       :args ["bash" "-c" "ls | wc -l"]}
         :bash        {:task/type :fn
                       :var user/bash}
         :eval-plus   {:task/type :babashka
                       :args [-e (apply + (map (fn [i]
                                                 (Integer/parseInt i))
                                               *command-line-args*))]}
         :tree        {:task/type :babashka
                       :args [:clojure -Stree]}
         :do-bash     {:task/type :babashka
                       :args [:do :bash "ls | wc -l"
                              :__ :eval-plus 1 2 3]}
         :all         {:task/type :babashka
                       :args [:do :count-files
                              :__ :bash "ls | wc -l"
                              :__ :eval-plus 1 2 3
                              :__ :tree]}}}
